.links
  - if can? :create, Material
    = link_to 'Change Material Prices', materials_path
    %br

  - if current_user
    = link_to 'Start a New Project', '#'
    %br
    = link_to 'Add Some Pictures', '#'
    %br
    = link_to 'Log Out' , destroy_user_session_path, method: :delete
    - 2.times do
      %br
  - else
    = link_to 'Log In',  new_user_session_path, id: 'show-login'

.content
  .project_list.grid-items
    - @projects.each do |p|
      %a.grid-item{href: 'javascript:void(0)', name: "project_#{p.id}"}
        %h1= p.name
        %p= p.description
        %p= p.created_at.strftime('%m/%d/%y')
